<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweepstakes Page</title>
</head>
<body style="margin: 0; font-family: Arial, sans-serif;">

<table width="auto" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td align="center" style="padding: 10px; background-color: #fff;">
            <!-- Logo Section -->
            <table width="600" cellspacing="0" cellpadding="0" border="0" style="padding: 20px; background-color: #fff;">
                <tr>
                    <td align="center">
                        <img src="{{eventLogoUrl}}" alt="Event Logo" height="122px" width="auto">
                        <div style="display: inline-block; width: 0.47px; height: 122.34px; background-color: #00000047; margin: 0 10px;"></div>
                        <img src="https://stage.sweepstakesnyl.com/newYorkLifeLogo.png" alt="New York Life Logo" height="122.34px" width="121.68px" style="max-width: 150px; height: auto; padding-left: 5px">
                    </td>
                </tr>
            </table>

            <table width="auto" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td>
                        <img src="{{logoUrl}}" alt="Children playing" height="329px" width="800px" style="display: block;">
                    </td>
                </tr>
            </table>

            <!-- Content Section -->
            <table width="604px"  cellspacing="0" cellpadding="0" border="0" style="margin: 40px auto 55px; background-color: #fff; font-size: 19.02px; font-weight: 400; line-height: 25.35px; text-align: left;">
                <tr>
                    <td align="center" style="text-align: left;">
                        <h3 style="font-size: 30px; color: #19375B; font-weight: 700; line-height: 35px; padding-left: 40px; padding-right: 5px;">Thank you for entering New York Life’s Game Plan for Success Sweepstakes.</h3>
                        <p style="font-size: 19px; color: #000000A6; font-weight: 400; margin-top: 40px; padding-left: 40px; padding-right: 30px;">[First_Name],</p>
                        <p style="font-size: 19px; color: #000000A6; font-weight: 400; margin-top: 30px; padding-left: 40px; padding-right: 30px;">Winners will be notified once the sweepstakes closes.</p>
                        <p style="font-size: 19px; color: #000000A6; font-weight: 400; margin-top: 30px; margin-bottom: 50px; padding-left: 40px; padding-right: 20px;">
                            To learn more about raising financially savvy children and other personal finance topics, please visit
                            <a href="{{newsRoomUrl}}" target="_blank" style="color:#0079C2; text-decoration: underline;">New York Life’s Newsroom</a>.
                        </p>
                        <p style="font-size: 19px; color: #000000A6; margin-top: 30px; font-weight: 400; text-align: left; margin-bottom: 70px; padding-left: 40px; padding-right: 30px;">Best regards,<br>New York Life Team</p>
                    </td>
                </tr>
            </table>


            <!-- Footer Section -->
            <table width="800px" cellspacing="0" cellpadding="0" border="0"
                   style="background-color: #19375B ; padding: 20px 20px 8px 20px; color: white;">
                <tr>
                    <td align="center" style="text-align: left; vertical-align: top; padding: 0; ">
                        <!-- New York Life Logo -->
                        <img src="https://stage.sweepstakesnyl.com/newYorkLifeLogo.png" alt="New York Life Logo"
                             style="width: 41px; height: 41px; display: block; margin-bottom: 20px; margin-left: 100px;">
                        <div align="center" style="width: 100%; max-width: 600px; border-top: 0.01px solid #FFFFFF; margin: 0 100px 10px;">
                        </div>
                        <!-- Social Media Links -->
                        <div width="600" style="margin-bottom: 5px; margin-left: 100px;">
                            <a href="{{twitterUrl}}" target="_blank" style="text-decoration: none;">
                                <img src="https://stage.sweepstakesnyl.com/twitter.png"
                                     style="width: 20px; height: 17px; margin-right: 15px; margin-bottom: 1px;"/>
                            </a>
                            <a href="{{linkedInUrl}}" target="_blank" style="text-decoration: none;">
                                <img src="https://stage.sweepstakesnyl.com/linkedIn.png"
                                     style="width: 17px; height: 17px; margin-right: 15px; margin-bottom: 2px;"/>
                            </a>
                            <a href="{{facebookUrl}}" target="_blank" style="text-decoration: none;">
                                <img src="https://stage.sweepstakesnyl.com/facebook.png"
                                     style="width: 12px; height: 22px; margin-right: 15px;;"/>
                            </a>
                            <a href="{{instagramUrl}}" target="_blank" style="text-decoration: none;">
                                <img src="https://stage.sweepstakesnyl.com/insta.png"
                                     style="width: 22px; height: 22px; margin-right: 15px;"/>
                            </a>

                        </div>

                        <p width="600"
                           style="font-size: 12px; color: #FFFFFF; margin-top: 15px; margin-left: 100px; ">
                            51 Madison Ave, New York, NY 10010<br/>
                            © New York Life Insurance Company, New York, NY. All Rights Reserved.
                        </p>

                        <!-- Tracking Pixel -->
                        <img src="{{trackingPixelUrl}}" alt="" width="1" height="1" style="display: block;"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
